// CardProject style from '@/components/CardProject.vue'
.card-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
  background-color: #121212;
  border-radius: 20px;
  width: 100%;
  max-width: 30rem;
  margin: auto;
  padding: 1em;
  transition: transform .5s ease, border-color .5s ease-out;

  &:hover {
    transform: translateY(-10px);
    border: 1px solid var(--primary-color);
  }
}
.card-description {
  text-align: left;

  h1 {
    margin-bottom: .5em;
  }
}
.card-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.card-buttons {
  display: flex;
  justify-content: right;
  gap: 10px;

  a {
    cursor: pointer;
    font-size: 12px;
    background-color: var(--primary-color);
    padding: .4rem .8rem;
    border-radius: 2rem;
    transition: background-color 0.5s ease;
    outline: none;

    &:hover {
      background-color: var(--primary-dark-color);
    }
  }
}
.chip {
  font-size: 11px;
  padding: 3px 8px;
  background-color: var(--light-color);
  border-radius: 5px;
}