// See more component as 'a' tag
.see-more {
  margin-top: 2em;
  a {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    color: var(--primary-color);
    text-decoration: none;
    transition: transform .5s ease;

    &:hover {
      transform: scale(1.1);
    }

    &::before, &::after {
      content: "";
      flex: 1 1;
      margin: auto;
      border-bottom: 1px solid var(--primary-color);
    }

    &::before {
      margin-right: 10px;
    }
    &::after {
      margin-left: 10px;
    }
  }
}