// TextareaField style from '@/components/custom_elements/TextareaField.vue'
label {
  display: block;
  color: var(--input-default-color);
  font-size: 14px;
  margin: 15px 0 5px 0;
}
textarea {
  width: 100%;
  resize: vertical;
  padding: 10px;
  border-radius: 5px;
  background: transparent;
  color: white;
  border-color: var(--input-default-color);

  &:focus {
    outline: none;
    border-color: var(--primary-color);
  }
}