@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

h1 {
  color: var(--light-text);
  font-weight: bold;
}

p {
  color: var(--para-color);
}

.error-msg {
  color: var(--input-error-color);
  font-size: 11px;
}
