// z-index values
$z-index: (
  modal: 100,
  navbar: 200,
  main: 50,

  // from top to below:
  top: 53,
  middle: 52,
  below: 51,
);

:root {
  --bg-dark: #0c0c0c;
  --side-padding: min(12vw, 250px);
  --light-text: #ffffff;
  --dark-text: #000000;
  --primary-color: #00e056;
  --primary-dark-color: #00b947;
  --light-color: #ddfce2;
  --dark-color: #292b29;
  --para-color: hsla(0,0%,96.1%,0.65);
}
