@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster&display=swap');

:root {
  --bg-dark: #0c0c0c;
  --side-padding: min(12vw, 250px);
  --light-text: #fff;
  --dark-text: #000;
  --primary-color: #00e056;
  --primary-dark-color: #00b947;
  --para-color: hsla(0,0%,96.1%,0.65);
}
