.admin {
  display: flex;
  flex-direction: column;
  gap: 8em;
}

.editor {
  margin-top: 2em;

  label {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;

    &:hover {
      color: var(--primary-dark-color);
    }
  }
  textarea {
    width: 100%;
    resize: vertical;
    padding: 1em;
    color: var(--light-text);
    background-color: var(--dark-color);
    border: none;
    outline: none;
  }
}
input[type=radio] {
  display: none;

  &:checked + label {
    background-color: var(--primary-color);
    color: var(--dark-text);
  }
}