// Default styles that affects the entire app.
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior:smooth
}

body {
  background-color: var(--bg-dark);
}

#app {
  font-family: 'Lato', sans-serif, Avenir, Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--para-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
